$black-bkg: #222;
$dark-gray-bkg: #222224;
$dark-pink-bkg: #f16d7f;
$gray-bkg: #5d5d5d;
$light-bkg: #fbfbfb;
$light-pink-bkg: #e1e1e1;
$light-red-bkg: #f26376;
$nav-item-color: #6F6E6E;
$pink-bkg: #f1e4e6;
$products-hover-bkg: #3A3838;
$products-subtitle-bkg: #9f9f9f;
$products-white-bkg: #f8f8f8;
$red-bkg: #ff6a6a;
$registration-bcg: #F8F3F4;
$registration-border-color: #A4A4A4;
$registration-input-placeholder: #B1B1B1;
$white-bkg: #fff;
$carousel-bkg: #f7f7f7;
$breadcrumb-color: #636363;
$info-wrap-subtitle: #4D4D4D;
$info-wrap-text: #5E5E5E;
$info-wrap-price: #EF5B70;

$desktop-width: 1599px;
$tablet-width: 767px;
$mobile-width: 374px;

