:root {
  --black-bkg: #222;
  --dark-gray-bkg: #222224;
  --dark-pink-bkg: #f16d7f;
  --gray-bkg: #5d5d5d;
  --light-bkg: #fbfbfb;
  --light-pink-bkg: #e1e1e1;
  --light-red-bkg: #f26376;
  --nav-item-color: #6F6E6E;
  --pink-bkg: #f1e4e6;
  --products-hover-bkg: #3A3838;
  --products-subtitle-bkg: #9f9f9f;
  --products-white-bkg: #f8f8f8;
  --red-bkg: #ff6a6a;
  --registration-bcg: #F8F3F4;
  --registration-border-color: #A4A4A4;
  --registration-input-placeholder: #B1B1B1;
  --white-bkg: #fff;
}

html,
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 17px;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a:hover svg {
  background: var(--light-red-bkg);
  border-radius: 10px;
  cursor: pointer;
  fill: var(--pink-bkg);
}

/*index page*/


.header {
  background-color: var(--black-bkg);
  display: flex;
  height: 75px;
  justify-content: space-between;
  padding: 18px 231px;
}

.header__container {
  margin: 0 auto;
  width: 1140px;
}

.header__wrap {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.header__container {
  align-items: center;
  display: flex;
}


.header__logo {
  height: 38px;
  margin-right: 41px;
  width: 44px;
}

.header__search-input {
  border-radius: 20px;
  border: none;
  display: none;
  padding: 0 20px;
  transition: 0.3s;
  width: 0;
}

.header__search-input:hover,
.header__search-input:focus {
  border: none;
  display: block;
  outline: none;
}

.header__search-form {
  display: flex;
}

.header__search-form:hover>.header__search-input  {
  display: block;
  width: 350px;
}
.header__search-form:hover>.header__search-icon  {
  background: var(--dark-gray-bkg);
  color: var(--dark-gray-bkg);
}

.header__search-icon {
  fill: var(--white-bkg);
  margin-right: 10px;
}

.header__search-icon:hover {
  fill: var(--light-red-bkg);
  margin-right: 10px;
}

.header__menu-list {
  align-items: center;
  display: flex;
}

.header__link {
  height: 32px;
  margin: 0 0 0 33px;
  width: 32px;
}

.header__nav {
  background: white;
  box-shadow: 1px 3px 30px 5px var(--nav-item-color);
  display: none;
  margin-left: 170px;
  min-height: 764px;
  padding: 37px;
  position: absolute;
  top: 160%;
  width: 232px;
}

.header__burger {
  background-color: transparent;
  border: none;
  fill: var(--white-bkg);
}

.header__burger:hover +.header__nav,
.header__burger:focus +.header__nav {
  display: block;
}

.header__nav-title {
  color: var(--black-bkg);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
}

.header__icon{
  fill: var(--white-bkg);
  height: 32px;
  position: relative;
  width: 32px;
}

.header__icon:hover {
  background: var(--light-red-bkg);
  border-radius: 20px;
  height: 32px;
  padding: 2px;
  width: 32px;
}

.header__link--basket::after {
  background-color: var(--red-bkg);
  border-radius: 15px;
  color: var(--white-bkg);
  content: '5';
  height: 15px;
  position: absolute;
  right: 225px;
  text-decoration: none;
  top: 21px;
  width: 15px;
  z-index: 1;
}

.header__menu-burger {
  position: relative;
}

.vissually-hidden {
  display: none;
}

.nav-item__title {
  color: var(--dark-pink-bkg);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-top: 20px;
  text-transform: uppercase;
}

.nav-item__list li {
  margin: 0 0 11px 20px;
}

.nav-item__item {
  color: var(--nav-item-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
}

.nav-item__item:hover {
  color: var(--light-red-bkg);
}

.nav-item__item:active,
.nav-item__item:focus {
  color: var(--red-bkg);
}

.obverse {
  background: var(--pink-bkg);
  display: flex;
  flex-direction: flex;
}

.obverse-content {
  display: flex;
  margin: 290px 0 0 92px;
}

.obverse-borderline {
  height: 92px;
  width: 12px;
}

.obverse-text {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.obverse__header {
  color: var(--black-bkg);
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  margin: 0;
  text-transform: uppercase;
}

.obverse-desc {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  margin: 0;
  text-transform: uppercase;
}

.obverse_span_style {
  color: var(--dark-pink-bkg);
}

.sales {
  background: var(--white-bkg);
  height: 100%;
  padding: 65px 230px 96px;
}

.sales__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}

.sales__grid-item--women {
  grid-column: 1;
  grid-row: 1;
}

.sales__grid-item--men {
  grid-column: 2;
  grid-row: 1;
}

.sales__grid-item--kids {
  grid-column: 3;
  grid-row: 1;
}

.sales__grid-item--accesories {
  grid-column: 1/4;
  grid-row: 2;
  height: 180px;
}

.sales__photo {
  height: 100%;
  width: 100%;
}

.sales__text {
  color: var(--white-bkg);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.sales__item {
  position: relative;
}

.sales__text-item {
  left: 103px;
  position: absolute;
  top: 105px;
}

.sales__text-item--accesories {
  left: 430px;
  position: absolute;
  top: 65px;
}

.sales__span {
  color: var(--dark-pink-bkg);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: center;
}

.products {
  background: var(--white-bkg);
  padding: 0 230px 48px;
}

.products__title {
  color: var(--black-bkg);
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 6px;
  margin: 0;
  text-align: center;
}

.products__sub-title {
  color: var(--products-subtitle-bkg);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin: 0;
  text-align: center;
}

.products__item-link {
  background: var(--products-white-bkg);
  display: flex;
  flex-direction: column;
  min-height: 450px;
  text-decoration: none;
  width: 100%;
}

.products__item-link:hover .products__button,
.products__item-link:hover .products__item--overlay:before {
  display: block;
} 

.products__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 48px;
  padding-bottom: 48px;
}

.products__item-img {
  background-repeat: no-repeat;
  min-height: 390px;
  width: 100%;
}

.products__item--overlay {
  position: relative;
}
.products__item--overlay:before {
  background: var(--products-hover-bkg);
  content: '';
  min-height: 390px;
  opacity: 86%;
  position: absolute;
  top: 0;
  width: 100%;
}

.products__item--overlay:before {
  display: none;
}

.products__item-img--man {
  background-image: url(img/item-1.jpg);
}
.products__item-img--woman {
  background-image: url(img/item-2.jpg);
}
.products__item-img--boy {
  background-image: url(img/item-3.jpg);
}
.products__item-img--boys {
  background-image: url(img/item-4.jpg);
}
.products__item-img--girl {
  background-image: url(img/item-5.jpg);
}
.products__item-img--lady {
  background-image: url(img/item-6.jpg);
}

.products__button {
  background: transparent;
  border: 2px solid var(--white-bkg);
  color: var(--white-bkg);
  left: 50%;
  padding: 0 13px;
  position: absolute;
  top: 50%;  
  transform: translate(-50%, -50%);
}

.products__button {
  display: none;
}

.products__button:hover {
  background: var(--white-bkg);
  border: 2px solid var(--dark-gray-bkg);
  color: var(--dark-gray-bkg);
  opacity: 70%;
}

.products__button:focus,
.products__button:active {
  background: var(--light-red-bkg);
  border: 2px solid var(--dark-gray-bkg);
  color: var(--dark-gray-bkg);
}

.products__button-icon {
  fill: var(--white-bkg);
}

.products__button-content {
  align-items: center;
  display: flex;
  gap: 11px;
}
.products__button-content:hover > .products__button-icon {
  fill: var(--dark-gray-bkg);
}

.products__item-title {
  color: var(--black-bkg);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.products__item-info {
  padding: 25px 28px 20px 17px;
}

.products__item-text {
  color: var(--gray-bkg);
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin: 0;
  padding-bottom: 18px;
}

.products__item-price {
  color: var(--dark-pink-bkg);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin: 0;
}

.button {
  background: var(--white-bkg);
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.button__link {
  background-color: var(--white-bkg);
  border: 1px solid var(--red-bkg);
  color: var(--light-red-bkg);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin: 0 auto;
  padding: 14px 38px;
}

.button:hover {
  background-color: var(--light-red-bkg);
  border-radius: 5px;
  color: var(--white-bkg);
  cursor: pointer;
}

.benefits {
  background: var(--dark-gray-bkg);
  display: flex;
  justify-content: space-between;
  padding: 103px 203px;
}

.benefits-header--hidden {
  display: none;
}

.benefits__item {
  align-content: center;
  display: flex;
  flex-direction: column;
}

.benefits__img {
  align-self: center;
  height: 42px;
  width: 33px;
}

.benefits__title {
  align-self: center;
  color: var(--light-bkg);
  font-size: 19.96px;
  font-weight: 400;
  line-height: 24px;
}

.benefits__text {
  align-self: center;
  color: var(--light-bkg);
  font-size: 13.972px;
  font-weight: 300;
  line-height: 17px;
  max-width: 360px;
  text-align: center;
}

.subscribe {
  background-image: url("img/footer-cover.jpg");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  min-height: 432px;
  padding: 87px 230px 126px;
  width: 100%;
}
.subscribe-form {
  display: block;
}

.subscribe-form__input {
  background: var(--light-pink-bkg);
  border-radius: 20px 0 0 20px;
  border: none;
  height: 49px;
  padding: 14px 64px 12px 22px;
}

.subscribe-form__input:hover,
.subscribe-form__input:focus {
outline: 1px solid var(--light-red-bkg);
}

.subscribe-title {
  color: var(--dark-gray-bkg);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.672;
  margin: 0;
  padding-bottom: 6px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe__input-wrap {
  margin: 63px 104px 0 0;
}

.subscribe-text {
  color: var(--dark-gray-bkg);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding-bottom: 32px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe__button {
  background-color: var(--dark-pink-bkg);
  border-radius: 0 30px 30px 0;
  border: none;
  display: inline;
  height: 49px;
  padding: 14px 22px 12px 14px;
}

.subscribe__button:hover,
.subscribe__button:active {
  background: var(--red-bkg);
  outline: 2px solid var(--dark-pink-bkg);
}

.subscribe__button-text {
  color: var(--white-bkg);
  margin: 0;
  text-decoration: none;
}

.feedback {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.feedback-img {
  height: 96px;
  margin-bottom: 30px;
  width: 96px;
}
.feedback-blockquote {
  color: var(--dark-gray-bkg);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.footer {
  background: var(--black-bkg);
  display: flex;
  justify-content: space-between;
  padding: 30px 230px;
}

.footer__rights {
  color: var(--light-bkg);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.socials__list {
  align-self: center;
  display: flex;
}

.socials__button {
  align-items: center;
  background: var(--white-bkg);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-left: 7px;
  padding: 8px 11px;
}

.socials__button:hover {
  background: var(--light-red-bkg);
  border-radius: 10px;
  cursor: pointer;
}
.socials__button:active {
  background: var(--red-bkg);
  border-radius: 10px;
  cursor: pointer;
}

.socials__icon {
  fill: var(--black-bkg);
  height: 15px;
  height: full;
  width: 15px;
  width: full;
}

/*index page end*/

/*registration page*/

fieldset {
  border: none;
}

.registration-header {
  background-color: var(--registration-bcg);
  padding: 59px 230px 60px 230px;
}

.registration-header-text {
  font-weight: 400;
  color: var(--dark-pink-bkg);
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-transform: uppercase;
}

.registration-content {
  display: flex;
  justify-content: space-between;
  padding: 64px 230px 96px 230px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  margin-right: 128px;
}

.registration__legend {
  color: var(--black-bkg);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

.registration-form__name-form,
.registration-form__login-form {
  display: flex;
  flex-direction: column;
}

.registration__input {
  border: 1px solid var(--registration-border-color);
  color: var(--registration-input-placeholder);
  font-size: 13px;
  font-weight: 300;
  height: 45px;
  line-height: 16px;
  margin-top: 20px;
  padding: 13px 0 13px 17px;
  width: 360px;
}

.registration-form__radio-form {
  margin: 32px 0;
}

.registration__text {
  color: var(--registration-input-placeholder);
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  margin: 15px 0 39px 0;
  min-height: 32px;
  width: 360px;
}

.registration__button {
  align-items: center;
  background-color: var(--dark-pink-bkg);
  border: none;
  color: var(--white-bkg);
  display: flex;
  gap: 20px;
  padding: 16px 24px 17px 29px;
  text-transform: uppercase;
}
.registration__button:hover {
  background: var(--red-bkg);
}
.registration__button:active,
.registration__button:focus {
  background: var(--red-bkg);
  outline: 1px solid var(--nav-item-color);
}

.registration__info-header {
  color: var(--black-bkg);
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin: 0;
  padding-bottom: 22px;
  text-transform: uppercase;
}

.registration__info-text {
  color: var(--black-bkg);
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin: 0;
  padding-bottom: 21px;
}

.registration-benefits-item {
  color: var(--black-bkg);
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 16px;
  list-style-type: none;
}

.registration-benefits-item::before {
  content: url('img/list-benefits.svg');
  margin-right: 23px;
}