.benefits {
    background: $dark-gray-bkg;
    display: flex;
    justify-content: space-between;
    padding: 103px 203px;
  }
  
  .benefits-header--hidden {
    display: none;
  }
  
  .benefits__item {
    align-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .benefits__img {
    align-self: center;
    height: 42px;
    width: 33px;
  }
  
  .benefits__title {
    align-self: center;
    color: $light-bkg;
    font-size: 19.96px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .benefits__text {
    align-self: center;
    color: $light-bkg;
    font-size: 13.972px;
    font-weight: 300;
    line-height: 17px;
    max-width: 360px;
    text-align: center;
  }