.button {
  background: $white-bkg;
  display: flex;
  justify-content: center;
  text-decoration: none;
  
  &__link {
    background-color: $white-bkg;
    border: 1px solid $red-bkg;
    color: $light-red-bkg;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin: 0 auto;
    padding: 14px 38px;
  }
  
  &:hover {
    background-color: $light-red-bkg;
    border-radius: 5px;
    color: $white-bkg;
    cursor: pointer;
  }
}