.feedback {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.feedback-img {
  height: 96px;
  margin-bottom: 30px;
  width: 96px;
}

.feedback-blockquote {
  @include font(20px, 24px, 400, normal);
  color: $dark-gray-bkg;
  text-align: center;
}