.feedback {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .feedback-img {
    height: 96px;
    margin-bottom: 30px;
    width: 96px;
  }
  .feedback-blockquote {
    color: $dark-gray-bkg;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }