.header {
  background-color: $black-bkg;
  display: flex;
  height: 75px;
  justify-content: space-between;
  padding: 18px 231px;

  &__container {
    margin: 0 auto;
    width: 1140px;
  }

  &__wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }

  &__container {
    align-items: center;
    display: flex;
  }

  &__logo {
    height: 38px;
    margin-right: 41px;
    width: 44px;
  }

  &__search-input {
    border-radius: 20px;
    border: none;
    display: none;
    padding: 0 20px;
    transition: 0.3s;
    width: 0;
  }

  &__search-input:hover,
  &__search-input:focus {
    border: none;
    display: block;
    outline: none;
  }

  &__search-form {
    display: flex;
  }

  &__search-form:hover>.header__search-input  {
    display: block;
    width: 350px;
  }
  &__search-form:hover>.header__search-icon  {
    background: $dark-gray-bkg;
    color: $dark-gray-bkg;
  }

  &__search-icon {
    fill: $white-bkg;
    margin-right: 10px;
  }

  &__search-icon:hover {
    fill: $light-red-bkg;
    margin-right: 10px;
  }

  &__menu-list {
    align-items: center;
    display: flex;
  }

  &__link {
    height: 32px;
    margin: 0 0 0 33px;
    width: 32px;
  }

  &__nav {
    background: white;
    box-shadow: 1px 3px 30px 5px $nav-item-color;
    display: none;
    margin-left: 170px;
    min-height: 764px;
    padding: 37px;
    position: absolute;
    top: 160%;
    width: 232px;
    z-index: 10;
  }

  &__burger {
    background-color: transparent;
    border: none;
    fill: $white-bkg;
  }

  &__burger:hover + &__nav,
  &r__burger:focus + &__nav {
    display: block;
  }

  &__nav-title {
    @include font(14px, 17px, 700, normal);
    color: $black-bkg;
    text-transform: uppercase;
  }

  &__icon{
    fill: $white-bkg;
    height: 32px;
    position: relative;
    width: 32px;
  }

  &__icon:hover {
    background: $light-red-bkg;
    border-radius: 20px;
    height: 32px;
    padding: 2px;
    width: 32px;
  }

  &__link--basket::after {
    background-color: $red-bkg;
    border-radius: 15px;
    color: $white-bkg;
    content: '5';
    height: 15px;
    position: absolute;
    right: 225px;
    text-decoration: none;
    top: 21px;
    width: 15px;
    z-index: 1;
  }

  &__menu-burger {
    position: relative;
  }
}

@media (max-width: $desktop-width) {
  .header {
    padding: 18px 32px;

    &__link--basket::after {
      right: 25px;
    }

    &__nav {
      margin-left: 0;
      z-index: 10;
      width: 205px;
    }
  }
}

@media (max-width: $tablet-width) {
  .header {

    &__link {
      display: none;
    }

    &__nav {
      margin-left: -130px;
    }

    &__search-form:hover>.header__search-input  {
      display: block;
      width: 120px;
    }
  }
}