.nav-item {

  &__title {
  @include font(14px, 17px, 400, normal);
  color: $dark-pink-bkg;
  margin-top: 20px;
  text-transform: uppercase;
  }

  &__list li {
    margin: 0 0 11px 20px;
  }
  
  &__item {
    @include font(14px, 17px, 400, normal);
    color: $nav-item-color;
    text-decoration: none;
  
    &:hover {
      color: $light-red-bkg;
    }
    
    &:active,
    &:focus {
      color: $red-bkg;
    }
  }
}