.obverse {
  background: $pink-bkg;
  display: flex;
  flex-direction: flex;

  &__header {
    @include font(48px, 58px, 900, normal);
    color: $black-bkg;
    margin: 0;
    text-transform: uppercase;
  }
}

.obverse-content {
  display: flex;
  margin: 290px 0 0 92px;
}

.obverse-borderline {
  height: 92px;
  width: 12px;
}

.obverse-text {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.obverse-desc {
  @include font(32px, 38.4px, 700, normal);
  margin: 0;
  text-transform: uppercase;

  &__style {
    color: $dark-pink-bkg;
  }
}

@media (max-width: $desktop-width) {
  .obverse {
    height: 367px;

    &__header {
      @include font(44px, 53px, 900, normal);
    }
  }

  .obverse-content {
    display: flex;
    margin: 138px 0 0 20px;
  }

  .obverse-desc {
    @include font(26px, 33px, 700, normal);
  }
}

@media (max-width: $tablet-width) {
  .obverse {
    &__img {
      display: none;
    }
  }
  
  .obverse-content {
    align-self: center;
    margin: 0 auto;
  }
}