.products {
  background: $white-bkg;
  padding: 0 230px 48px;

  &__item {
    max-width: 360px;
  }

  &__title {
    color: $black-bkg;
    @include font(30px, 36px, 400, normal);
    margin: 0;
    text-align: center;
  }
  
  &__sub-title {
    color: $products-subtitle-bkg;
    @include font(14px, 17px, 400, normal);
    margin: 0;
    text-align: center;
  }
  
  &__item-link {
    background: $products-white-bkg;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    text-decoration: none;
    width: 100%;
  }
  
  .products__item-link:hover .products__button,
  .products__item-link:hover .products__item--overlay:before {
    display: block;
  } 
  
  &__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 48px;
    padding-bottom: 48px;
  }
  
  &__item-img {
    background-repeat: no-repeat;
    min-height: 390px;
    width: 100%;

    &--man {
      background-image: url(../img/item-1.jpg);
    }
    &--woman {
      background-image: url(../img/item-2.jpg);
    }
    &--boy {
      background-image: url(../img/item-3.jpg);
    }
    &--boys {
      background-image: url(../img/item-4.jpg);
    }
    &--girl {
      background-image: url(../img/item-5.jpg);
    }
    &--lady {
      background-image: url(../img/item-6.jpg);
    }
  }
  
  &__item--overlay {
    position: relative;
  }
  &__item--overlay {
    &::before {
      background: $products-hover-bkg;
      content: '';
      min-height: 390px;
      opacity: 86%;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__item--overlay:before {
    display: none;
  }
  
  &__button {
    background: transparent;
    border: 2px solid $white-bkg;
    color: $white-bkg;
    left: 50%;
    padding: 0 13px;
    position: absolute;
    top: 50%;  
    transform: translate(-50%, -50%);
  }
  
  &__button {
    display: none;
  }
  
  &__button:hover {
    background: $white-bkg;
    border: 2px solid $dark-gray-bkg;
    color: $dark-gray-bkg;
    opacity: 70%;
  }
  
  &__button:focus,
  &__button:active {
    background: $light-red-bkg;
    border: 2px solid $dark-gray-bkg;
    color: $dark-gray-bkg;
  }
  
  &__button-icon {
    fill: $white-bkg;
  }
  
  &__button-content {
    align-items: center;
    display: flex;
    gap: 11px;
  }
  &__button-content:hover > &__button-icon {
    fill: $dark-gray-bkg;
  }
  
  &__item-title {
    color: $black-bkg;
    @include font(13px, 16px, 400, normal);
    margin: 0;
    padding-bottom: 12px;
    text-transform: uppercase;
  }
  
  &__item-info {
    padding: 25px 28px 20px 17px;
  }
  
  &__item-text {
    color: $gray-bkg;
    @include font(14px, 17px, 300, normal);
    margin: 0;
    padding-bottom: 18px;
  }
  
  &__item-price {
    color: $dark-pink-bkg;
    @include font(16px, 19px, 400, normal);
    margin: 0;
  }
}

@media (max-width: $desktop-width) {
  .products {
    padding: 0 18px 65px;
  
    &__title {
      margin-top: 155px;
    }

    &__grid {
      gap: 14px;
      grid-template-columns: repeat(2, 360px);
      grid-template-rows: repeat(3, 548px);
      margin-top: 72px;
      padding-bottom: 33px;
      justify-content: center;
    }
  }
}

@media (max-width: $tablet-width) {
  .products {
    padding-bottom: 95px;
    
    &__title {
      margin-top: 64px;
      }

    &__grid {
      gap: 14px;
      grid-template-columns: repeat(1, 360px);
      grid-template-rows: repeat(6, 548px);
      margin-top: 65px;
      padding-bottom: 41px;
      justify-content: center;
    }
  }
}