.products {
    background: $white-bkg;
    padding: 0 230px 48px;
  }
  
  .products__title {
    color: $black-bkg;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 6px;
    margin: 0;
    text-align: center;
  }
  
  .products__sub-title {
    color: $products-subtitle-bkg;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
    text-align: center;
  }
  
  .products__item-link {
    background: $products-white-bkg;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    text-decoration: none;
    width: 100%;
  }
  
  .products__item-link:hover .products__button,
  .products__item-link:hover .products__item--overlay:before {
    display: block;
  } 
  
  .products__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 48px;
    padding-bottom: 48px;
  }
  
  .products__item-img {
    background-repeat: no-repeat;
    min-height: 390px;
    width: 100%;
  }
  
  .products__item--overlay {
    position: relative;
  }
  .products__item--overlay:before {
    background: $products-hover-bkg;
    content: '';
    min-height: 390px;
    opacity: 86%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .products__item--overlay:before {
    display: none;
  }
  
  .products__item-img--man {
    background-image: url(img/item-1.jpg);
  }
  .products__item-img--woman {
    background-image: url(img/item-2.jpg);
  }
  .products__item-img--boy {
    background-image: url(img/item-3.jpg);
  }
  .products__item-img--boys {
    background-image: url(img/item-4.jpg);
  }
  .products__item-img--girl {
    background-image: url(img/item-5.jpg);
  }
  .products__item-img--lady {
    background-image: url(img/item-6.jpg);
  }
  
  .products__button {
    background: transparent;
    border: 2px solid $white-bkg;
    color: $white-bkg;
    left: 50%;
    padding: 0 13px;
    position: absolute;
    top: 50%;  
    transform: translate(-50%, -50%);
  }
  
  .products__button {
    display: none;
  }
  
  .products__button:hover {
    background: $white-bkg;
    border: 2px solid $dark-gray-bkg;
    color: $dark-gray-bkg;
    opacity: 70%;
  }
  
  .products__button:focus,
  .products__button:active {
    background: $light-red-bkg;
    border: 2px solid $dark-gray-bkg;
    color: $dark-gray-bkg;
  }
  
  .products__button-icon {
    fill: $white-bkg;
  }
  
  .products__button-content {
    align-items: center;
    display: flex;
    gap: 11px;
  }
  .products__button-content:hover > .products__button-icon {
    fill: $dark-gray-bkg;
  }
  
  .products__item-title {
    color: $black-bkg;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    padding-bottom: 12px;
    text-transform: uppercase;
  }
  
  .products__item-info {
    padding: 25px 28px 20px 17px;
  }
  
  .products__item-text {
    color: $gray-bkg;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin: 0;
    padding-bottom: 18px;
  }
  
  .products__item-price {
    color: $dark-pink-bkg;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
  }