.registration {
  
  &__legend {
    @include font(16px, 19px, 300, normal);
    color: $black-bkg;
  }

  &__input {
    @include font(13px, 16px, 300, normal);
    border: 1px solid $registration-border-color;
    color: $registration-input-placeholder;
    height: 45px;
    margin-top: 20px;
    padding: 13px 0 13px 17px;
    width: 360px;
  }

  &__text {
    @include font(13px, 16px, 300, normal);
    color: $registration-input-placeholder;
    margin: 15px 0 39px 0;
    min-height: 32px;
    width: 360px;
  }
  
  &__button {
    align-items: center;
    background-color: $dark-pink-bkg;
    border: none;
    color: $white-bkg;
    display: flex;
    gap: 20px;
    padding: 16px 24px 17px 29px;
    text-transform: uppercase;
  }
  
  &__button:hover {
    background: $red-bkg;
  }
  
  &__button:active,
  .registration__button:focus {
    background: $red-bkg;
    outline: 1px solid $nav-item-color;
  }
  
  &__info-header {
    @include font(24px, 29px, 300, normal);
    color: $black-bkg;
    margin: 0;
    padding-bottom: 22px;
    text-transform: uppercase;
  }
  
  &__info-text {
    @include font(24px, 29px, 300, normal);
    color: $black-bkg;
    margin: 0;
    padding-bottom: 21px;
  }
}

.registration-header {
  background-color: $registration-bcg;
  padding: 59px 230px 60px 230px;
}

.registration-header-text {
  @include font(24px, 29px, 400, normal);
  color: $dark-pink-bkg;
  margin: 0;
  text-transform: uppercase;
}

.registration-content {
  display: flex;
  justify-content: space-between;
  padding: 64px 230px 96px 230px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  margin-right: 128px;

  &__name-form,
  &__login-form {
    display: flex;
    flex-direction: column;
}

  &__radio-form {
    margin: 32px 0;
  }
}

.registration-benefits-item {
  @include font(24px, 29px, 300, normal);
  color: var(--black-bkg);
  margin-bottom: 16px;
  list-style-type: none;
}

.registration-benefits-item::before {
  content: url('../img/list-benefits.svg');
  margin-right: 23px;
}