.sales {
  background: $white-bkg;
  height: 100%;
  padding: 65px 230px 96px;

  &__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0.7fr);
    width: 100%;
  }
  
  &__grid-item--women {
    grid-column: 1;
    grid-row: 1;
  }
  
  &__grid-item--men {
    grid-column: 2;
    grid-row: 1;
  }
  
  &__grid-item--kids {
    grid-column: 3;
    grid-row: 1;
  }
  
  &__grid-item--accesories {
    grid-column: 1/4;
    grid-row: 2;
    height: 180px;
  }
  
  &__photo {
    height: 100%;
    width: 100%;
  }
  
  &__text {
    @include font(16px, 19px, 400, normal);
    color: $white-bkg;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
  
  &__item {
    position: relative;
  }

  &__item--accesories {
    position: relative;
  }
  
  &__text-item {
    left: 103px;
    position: absolute;
    top: 105px;
  }
  
  &__text-item--accesories {
    left: 430px;
    position: absolute;
    top: 65px;
  }
  
  &__span {
    @include font(24px, 28.8px, 700, normal);
    color: $dark-pink-bkg;
    text-align: center;
  }
}

@media (max-width: $desktop-width) {
  .sales {
    padding: 20px 3%;

    &__text-item {
      left: 58px;
      position: absolute;
      top: 59px;
    }

    &__text-item--accesories {
      left: 288px;
      position: absolute;
      top: 33px;
      height: 116px;
    }

    &__grid {
      gap: 20px;
    }
  }
}

@media (max-width: $tablet-width) {
  .sales {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
    }

    &__grid-item--women {
      grid-column: 1;
      grid-row: 1;
    }
    
    &__grid-item--men {
      grid-column: 1;
      grid-row: 2;
    }
    
    &__grid-item--kids {
      grid-column: 1;
      grid-row: 3;
    }
    
    &__grid-item--accesories {
      grid-column: 1;
      grid-row: 4;
    }

    &__item--accesories {
      height: 111px;
    }

    &__text-item--accesories {
      left: 92px;
      position: absolute;
      top: 30px;
    }

    &__text {
      @include font(12px, 15px, 400, normal);
    }

    &__span {
      @include font(20px, 25px, 700, normal);
    }
  }
}