.socials__list {
  align-self: center;
  display: flex;
}

.socials__button {
  align-items: center;
  background: $white-bkg;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-left: 7px;
  padding: 8px 11px;
}

.socials__button:hover {
  background: $light-red-bkg;
  border-radius: 10px;
  cursor: pointer;
}
.socials__button:active {
  background: $red-bkg;
  border-radius: 10px;
  cursor: pointer;
}

.socials__icon {
  fill: $black-bkg;
  height: 15px;
  height: full;
  width: 15px;
  width: full;
}